/* System fonts: no third-party font binaries are redistributed. */
@font-face { font-family: "Solana Sans"; src: local("Arial"); font-weight: 100 900; font-style: normal; }
@font-face { font-family: "Solana Mono"; src: local("Courier New"); font-weight: 100 900; font-style: normal; }
